body {
  font: 14px sans-serif;
  background-image: url(/static/bg_dark.png); background-repeat: repeat;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 16px;
    margin: 2px;
}

#page_container{
    width:100%;
    padding: 20px;
}

#content {
    width: 100%;
    background-color:white;
    -moz-border-radius: 15px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    margin: 20px;
	overflow: hidden;
}

#header {
    width: 100%;
    background-color: white;
}

#header_content {
    padding: 20px 40 20 20;
}

.header_logo {
    color: #0099FF;
    text-shadow: 0.0em 0.0em 0.0em #035;
    font-weight: bold;
    font-size: 36px;
}

.header_tagline {
    color: #777;
    font-style: italic;
}

#footer {
    width: 100%;
    clear: both;
    text-align: center;
    padding: 30px;
    font-size: 12;
    font-style: italic;
    color: #777;
}


#content {
    float: left;
    width: 100%;
}

#left{
    color: steelblue;
    float: left;
    background-color:none;
}

.left_nav_item{
    font-size: 14px;
    padding: 5px;
}

.selected {
    background-color: lightblue;
}

.left_nav_item_desc {
    font-size: 10px;
    color: lightgray;
}

#right{
    color: steelblue;
    float: left;
    background-color:white;
    display: none;
}


#center{
    float: left;
    background-color:white;
}

#data{
    background-color: white;
    margin: 0px auto;
    width: 90%;
}

/*#data div{
    margin: 2px;
}*/

.no_data {
    padding: 50px;
    font-size: 18px;
    text-align: center;  
    background-color: white;  
    color: #777;
}

.clear {
    clear: both;
}


.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.chart {
	fill: steelblue;
	stroke: white;
}
.plot_header{
	margin: 15px;
	padding: 5px;
	font-size: 24px;
	font-weight: normal;       
	color: #0099FF;
	margin-top: 25px;
}

.profile_header {
    width: 100%;
    background-color: #404040;
    color: white;
    font-weight: bold;
    padding: 5px 15 5 15;
    margin: 0px auto;
    font-size: 24px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.profile_header span {
    float: right;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    margin: 5;
}

.kv_table {
    width: 100%;
}

.kv_container {
	background: #CCC;
	width: 100%;
	background-color: white;
	overflow: hidden;
}
.kv_value{
	font-size: 48px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color: #404040;
}
.kv_name{
	font-size: 18px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 8px;
	font-style: italic;
	color: #777;
}
.kv_stat{
	float: left;
	margin: 10px;
	padding: 5px;
	background: white; 
	width: 20%;
	height: 100px;
	padding: 30px;
	color: #404040;
}